<h1>Bank</h1>
<h2><%= @money %></h2>

<%= form_tag({controller: "home", action: "withdrawal"}, method: "post") do %>
    <%= label_tag(:q, "Ğ¡alculate for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("withdraw money") %>
<% end %>

 
<% form_tag('/bank/do_some_banking', :method => :post) do %>
  <%= text_field_tag 'amount' %><br/>
  <%= submit_tag 'Deposit' %><%= submit_tag 'Withdraw' %>
<% end %>
 